@font-face {
    font-family: Baloo_pajja;
    src: url('../../fonts/Baloo_Paaji_2/BalooPaaji2-Bold.ttf');
}

@font-face {
    font-family: merriweather;
    src: url('../../fonts/Merriweather/Merriweather-Black.ttf');
}

@font-face{
    font-family: sketcha;
    src: url('../../fonts/Sketcha/Sketcha.ttf');
}

.section{
    background-image: url('../../images/RCT/Asset/background_desktop_layout.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 4%;
    width: 100%;
    padding:60px 100px;
    color:white;
}

.section-1{
    padding: 50px 30px 200px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section img{
    width: 45%;
}

.name{
    font-size: 4.8em;
    margin-top: 0.2em;
    font-family: sketcha;
}

.tagline{
    font-size: 2em;
    margin-top: 0.3em;
    font-family: baloo_pajja;
}

.program{
    font-size: 3.4em;
    font-family: merriweather;
    margin-bottom: 3em;
}

.section-2{
    width: 100%;
    padding:40px 0px;
    margin-bottom: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 .image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .image img{
    width: 80%;
}

.section-2 .information{
    width: 50%;
    padding:10px;
}

.information .tujuan{
    font-family: merriweather;
    letter-spacing: 0.05em;
    font-size: 50px;
    margin-bottom:20px;
    width: 90%;
}

.information .desc{
    font-size: 19px;
    width: 80%;
    text-align: justify;
}

.img{
    width: 100%;
}

.content-four{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0px 100px 100px 100px;
    color:white;
}

.dokumentasi{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 70px;
    font-family: merriweather;
}

.gallery{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery img{
    width: 33.33%;
}

.row{
    width: 100%;
}

@media (max-width : 992px){
    .section-1 img{
        width:70%;
    }

    .name{
        font-size: 3.2em;
        text-align: center;
    }

    .program{
        flex-direction: column;
        text-align: center;
        font-size: 2.5em;
    }

    .section-2 .image{
        width: 70%;
        margin-bottom: 40px;
    }

    .section-2 .information{
        width: 100%;
        text-align: center;
    }

    .information .tujuan{
        width: 100%;
    }

    .information .desc{
        width: 100%;
    }

    .section-2{
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:769px){
    .carousel{
        display: none;
    }
}

@media (max-width: 768px){
    .section-1 img{
        width:80%;
    }

    .content-four{
        padding: 0px 50px 100px 50px;
        color:white;
    }

    .section-2 .image{
        width: 100%;
        margin-bottom: 40px;
    }

    .gallery{
        display: none;
    }

    .gallery img{
        width: 50%;
    }

    .carousel-inner img{
        border-radius: 10px;
    }
}

@media (max-width: 578px){
    .section{
        padding:60px 20px;
        background-image: url('../../images/RCT/Asset//background_mobile-layout.png');
    }
    
    .section-1{
        padding:0px 15px;
        padding-bottom:100px;
    }

    .section-1 img{
        width: 70%;
    }

    .name{
        font-size: 2.3em;
    }

    .tagline{
        font-size:1em ;
    }

    .program{
        margin-bottom: 20px;
        font-size: 1.5em;
        text-align: left;
    }

    .section-2 .image{
        width: 90%;
        margin-bottom: 40px;
    }

    .section-2{
        padding:10px 0px 70px 0px;
        margin-bottom:70px;
    }

    .information .desc{
        font-size: 15px;
    }

    .section-2 .image{
        margin:10px;
    }

    .section-2 .image .img{
        width: 100%;
    }

    .content-three{
        padding:0px 20px 100px 20px;
    }

    .content-four{
        padding:15px;
        padding-bottom: 100px;
    }

    .information .tujuan{
        font-size: 2em;
        letter-spacing: 0;
    }
    
    .section-1 img{
        width:100%;
    }

    .dokumentasi{
        font-size: 2em;
        margin-bottom: 30px;
    }
}